/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "Hack", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 12px;
}

window#waybar {
    background-color: rgba(0,0,0,1);
    border-bottom: 0px solid #DCD7BA;
    color: #938AA9;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    background: #16161D;
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;
    border-radius: 12px;
    font-weight: bold;
    font-style: normal;
    opacity:0.75;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;
    color: #7E9CD8;
    /* transition: all 0.3s ease-in-out; */
    /* opacity:0.85; */
    font-size:13px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: #16161D;
    opacity:0.75;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: #938AA9;
}

/* -----------------------------------------------------
 * Window (central module)
 * ----------------------------------------------------- */

#window {
    background: #938AA9;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@background;
    font-size:14px;
    font-weight:normal;
    opacity:0.75;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar (open windows)
 * ----------------------------------------------------- */

#taskbar {
    background: transparent;
    color: #938AA9;
    margin: 3px 15px 3px 0px;
    padding: 2px 3px 1px 3px;
    border-radius: 14px;
    font-weight: normal;
    font-style: normal;
    /* opacity:0.75; */
    /* border: 3px solid #16161D; */
}

#taskbar button {
    margin:0;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-librewolf, #custom-firefox, #custom-filemanager, #custom-calculator, #custom-windowsvm {
    color: #7E9CD8;
    margin-left:5px;
    margin-right:5px;
    font-size:20px;
    font-weight:bold;
    opacity:0.75;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: #16161D;
    font-size: 16px;
    color: #7E9CD8;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
    margin: 3px 15px 3px 14px;
    opacity:0.75;
    border:2px solid #16161D;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    font-size:20px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: #16161D;
    font-size: 16px;
    color: @background;
    border-radius: 12px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.75;
}

#custom-updates.green {
    /* backgrund-color: ; */
    color: #76946A;
}

#custom-updates.yellow {
    /* background-color: ; */
    color: #E6C384;
}

#custom-updates.red {
    /* background-color: ; */
    color: #E46876;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: #16161D;
    font-size: 16px;
    color: @background;
    border-radius: 12px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.75;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu {
    margin:0px;
    padding:0px;
    font-size:16px;
}

#memory {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: #16161D;
    font-size: 16px;
    color: #938AA9;
    border-radius: 12px;
    padding: 1px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    opacity:0.75;
    border:3px solid #16161D;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: #16161D;
    font-size: 16px;
    color: @background;
    border-radius: 12px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.75;
}

#pulseaudio.muted {
    background-color: #2D4F67;
    color: #938AA9;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: #16161D;
    font-size: 16px;
    color: @background;
    border-radius: 12px;
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    opacity:0.75;
    border: 3px solid #938AA9
}

#network.ethernet {
    background-color: #2D4F67;
    color:#938AA9;
}

#network.wifi {
    background-color: #2D4F67;
    color:#938AA9;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth.on, #bluetooth.connected {
    background-color: #16161D;
    font-size: 16px;
    color: @background;
    border-radius: 12px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.75;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: #16161D;
    font-size: 16px;
    color: @background;
    border-radius: 12px;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.75;
}

#battery.charging, #battery.plugged {
    color: #DCD7BA;
    background-color: #2D4F67;
}

@keyframes blink {
    to {
        background-color: #DCD7BA;
        color: #16161D;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #DCD7BA;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * gammarelay
 * ----------------------------------------------------- */

#custom-wl-gammarelay-temperature,
#custom-wl-gammarelay-brightness,
#custom-wl-gammarelay-gamma,
#custom-wl-gammarelay-applet
{
    background: #16161D;
    margin: 3px 15px 3px 0px;
    padding: 2px 3px 1px 3px;
    border-radius: 14px;
    font-weight: normal;
    font-style: normal;
    opacity:0.75;
    border: 3px solid #16161D;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    background: #16161D;
    margin: 3px 15px 3px 0px;
    padding: 2px 3px 1px 3px;
    border-radius: 14px;
    font-weight: normal;
    font-style: normal;
    opacity:0.75;
    border: 3px solid #16161D;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #16161D;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #ff5d62;
}

